.footer-section{
    display: flex;
    flex-direction: row;
    background-color: #002b56;
    color: white;
    justify-content: space-between;
    align-items: center;
    margin-top: 400px;
    padding: 180px 200px;
    flex-wrap: wrap;
    /* left: 0px;
    right: 0px; */
    font-family: "OPen+sans";
    position: relative;
}
.abrief-about-saikolearn{
    width: 200px;
    
}

.about-saikolearn-section{
    flex: 1fr;
}


.resources-section{
    flex: 1fr;
}

.get-in-touch-section{
    flex: 1fr;
}

.copyrigt-section{
    position: absolute;
    bottom: 5px;
    left: 650px;
}
.social-media{
    position: absolute;
    bottom: 5px;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
}

.icon-section{
    margin-left: 15px;
}

.social-media-icons{
    width: 40px;
}

.register{
    position: absolute;
    background-color:#0d0a2c;
    top: -65px;
    right: 250px;
    left: 250px;
    display: block;
    padding: 50px 200px;
    font-family: "Poppins";
    font-size: 16px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.467);
    
}

#register-button{
    margin-left: 250px;
    
}

#registration-button{
    padding: 5px 35px;
    background-color: aqua;
    color: #0d0a2c;
    border: 1px solid darkorange;

}