body {
    font-family: 'Roboto', sans-serif;
    display: block;
    /* grid-template-rows: 1fr 1fr 1fr; */
    margin: 0px;
}
a{
    text-decoration: none;
    color: #fff;
}

.colour-it-black{
    color: black;
}

.sperate-links{
    margin: 0px 4px;
}