/* this is for small screens ie mobile */

@media only screen and (max-width:600px){
    /* header styling  */

    

    .header-section{
        font-size: 10px;
    }
    .logo-section{
        margin-right: 14px;
        margin-left: 1px;
        font-size: 20px;
        font-weight: bolder;
    }

    .page{
        margin-right: 10px;
    }

    .page a{
        font-weight: 900px;
        font: size 16px; ;
    }
    .dropdown-menu-itmes{
        text-decoration: none;
        color: #0d0a2c;

    }

    .page:hover .dropdown-menu{
        background-color: white;
        width: 130px;
        color: #0d0a2c;
        left: 2px;
    }

    /* banner  styling  */
    .banner-section{
        width: 100%;
        height: 600px;
    }
    .banner-details-containr{
        top: 120px;
        left: 60px;
    }
    #banner-details{
        font-size: 26px;
    }
    #banner-details-register{
        font-size: 20px;
        margin-top: 20px;
        margin-left: -15px;
    }
    .banner-details-button-section{
        margin-top: 70px;
        margin-left: 25px;
    }
    #banner-details-button{
        padding: 12px 59px;
        font-size: medium;
        color: #0d0a2c;
    }



    /* content section css  */
    .welcome h2{
        margin-top: 50px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .welcome div{
        text-align: left;
        font-size: 16px;
    }

    /* course container css */
    .courses-container{
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 50px;
    }

    .course{
        width: 300px;
    }
    .course-thumbnail{
        width: 320px;
    }

    .detail-section{
        width: 320px;
        padding: 0px 0px;
       
        
       
        justify-content: space-between;
    }

    .enrrole-section{
        margin-top:  20px; ;
    }

    .enrrole-button{
        padding: 5px 20px;
    }


    /* coming soon section */

    .comming-soon-details{
        padding: 0px;
    }

    .comming_soon{
        padding: 0px;
    }

    .coming-soon-school-container{
        width: 100px;
        height: 100px;
        perspective: 1000px;
        
    }

    .coming-soon-school-element{
        width: 90%;
        height: 80%;
    }

    .back-side,
    .front-side{
        width: 90%;
        height: 80%;
    }

    .front-side{
        font-size: medium;
    }

    /* partnership section */

    .partners-section{
        display: grid;
        grid-template-rows: 1fr;

    }

    .partnership-discription{
        padding: 30px 10px;
        width: 350px;
        align-items: center;
    }

    .become-apartner{
        margin-top: 20px;
        display: block;
        /* grid-template-columns: 1fr; */
        align-items: center;
        justify-content: space-between;
        padding: 0px;
    }
    .grants{
        width: 300px;
    }

    .partnership-details{
        position: inherit;
        margin-top: 100px;
        /* margin-left: 60px; */
        left: 45px;
        padding: 10px 0px;
        width: 300px;
        align-items: center; 
      
    }

    .grants .partner-details{
        width: 280px;
        padding-left: 8px;
    }

    .partnership-details .body-partnership{
        margin: 0px;
        padding: 0px 20px;
        align-items: center;
        justify-content: space-between;
    }


    /* our partner display section */

    .our-partner-display-section{
        margin-top: 0px;
        
    }

    .our-partner-display-heading{
        align-items: center;
        margin-left: 50px;
    }

    #partner-tagline{
        width: 240px;
        margin-left: -25px;
        /* padding: 0px 20px; */
        text-align: center;

    }

    .presentation{
        height: 200px;
        width: 100%;
    }


    /* FOOTER SECTION */

    .register{
        height: 150px;
        top: -35px;
        right: 5px;
        left: 5px;
        padding: 0px;
        text-align: center;
        font-size: 15px;
    }

    #register-button{
        margin: 0px;
    }
   
    .footer-section{
        display: grid;
        grid-template-columns: 1fr;
        padding: 100px 20px;
    }
}