<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/coursePython.css">
</head>
<body>
    <main>
        <footer></footer>
        <section class="banner-section">
            <div class="actual-banner">

            </div>
        </section>

        <section class="content-section">
            <div class="intoduction-to-course-section">
                <div class="video-section">
                    
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/DInMru2Eq6E?si=U3c1of8xXx-TqDOg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

                </div>
                <div class="video-content">
                    <h1>R Programming</h1>
                    
                    Embark on a transformative journey to become a proficient R programmer, specifically tailored for data science! This comprehensive course is meticulously designed to lay a solid foundation in programming using the versatile R language, with a focus on its applications in data science. Guided by our esteemed faculty of experienced professionals, including top senior engineers in the field, you will immerse yourself in the world of R, gaining practical skills to develop powerful and efficient applications for data analysis and exploration in the realm of data science.
                </div>
            </div>
            <div class="admission-reqiurements">
                <div>
                    Admission Requirements
                </div>
                <div class="requirments">
                    <div class="requirments-details">
                        <div class="sub-titles">
                            Eductaion background
                        </div>
                        A bachelor's degree in one of the following fields is highly recommended:Statistic/Business Statistics/Qantitative Economics, Software Engineering/Computer Science or Related STEM disciplines
                    </div>
                    <div class="requirments-details">
                        <div class="sub-titles">
                            Language Proficiency:
                        </div>
                        The course is conducted in English, so applicants must have a basic understanding of the English language to effectively engage with the curriculum and participate in discussions.
                    </div>
    
                    <div class="requirments-details">
                        <div class="sub-titles">
                            Assessment:
                        </div>
                        All applicants are expected to undergo an assessment focused on evaluating their problem-solving skills, programming knowledge, and readiness for a certificate program. While the entrance exam will specifically assess their proficiency in algebra. Emphasizing the importance of individual preparation for the assessment.
                    </div>
                </div>

            </div>

            </div>
        </section>



        <section class="course-curriculum"> 
            <div class="curriculu-details">
                <h1>
                    saikolearn R Programming curriculum
                </h1>
                The foundational R programming curriculum for data science equips participants with essential concepts like variables, control flow, functions, and data structures, emphasizing their relevance in data science applications. Exploring R-based file handling, exception handling, and object-oriented programming specific to data science workflows, the course culminates in a practical mini project. Emphasizing hands-on experience and coding best practices, this curriculum ensures a comprehensive understanding of R programming in the context of data science..

            </div>

            <div class="curriculum-image">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/DInMru2Eq6E?si=U3c1of8xXx-TqDOg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

<!-- this is where i will begin ffrom.. ie curriculum -->



        </section>
        <section class="course-cost-section">
            <div class="registration">
                <div class="cost-title">
                    Registration
                </div>
                <div>
                    <h1>
                        $ 27 USD/ Ugx 100k
                    </h1>
                </div>
                <div>
                    Secure your spot by paying now and pay only $ 27 USD/ Ugx 100k instead of the standard $49.36 registration fee. 
                </div>
            </div>
            <div class="registration">
                <div class="cost-title">
                    Tuition
                </div>

                <div>
                    <h1 class="cost-cancled">
                        $ 100 USD/ Ugx 370k
                    </h1>
                </div>

                <div>
                    Great news for all registered students! We're excited to announce that every registered student automatically qualifies for a scholarship.
                </div>
            </div>

            <div class="course-register-button-section">
                <div class="course-register-button">
                    <a href="{{url_for('handlePayments')}}">
                        <button class="course-enroll-button" data-product-id="prod_PdEzUgIEgT78X5">Enroll Now</button>
                    </a>
                </div>
            </div>
        </section>
    </main>
    <script src="../static/jsFiles/get_course_id.js"></script>
</body>
</html>