
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Data Science Trivia</title>
  <link rel="stylesheet" href="../static/examCss.css">
</head>
<body>
  <div class="container">
    <h1>EXAM </h1>

    <div id="timer-container">Time Remaining: <span id="timer"></span></div>

    <div id="questions-section">
    </div>

    <button id="submitBtn">Submit Answers</button>
    <div id="no-exam-message">No exam available yet.</div>
  </div>

  <script  src="../static/jsFiles/handlOnlineExam.js">

  </script>
</body>
</html>