<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="../static/homePage.css">
	<link rel="stylesheet" href="../static/general-css.css">
	<link rel="stylesheet" href="../static/header-styling.css">
	<link rel="stylesheet" href="../static/footer-css.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
</head>
<body>
	<header id="header" class="header-section">
		<div class="logo-section">
			<a href="{{url_for('homePage')}}">alc</a>
		</div>
		<div class="page-section">
			<div class="page">
				Schools
				<div class="dropdown-menu">
					<a href="{{url_for('schoolSoftwareEngineering')}}" class="dropdown-menu-itmes">software Engineering</a>
					<!-- <a href="{{url_for('homePage')}}"  class="dropdown-menu-itmes">Artifical Intellegence</a> -->
					<!-- <a href="{{url_for('homePage')}}" class="dropdown-menu-itmes">Database Management</a> -->
					<a href="{{url_for('schoolDataScience')}}" class="dropdown-menu-itmes">Data Science</a>
				</div>
			</div>

			<div class="page">
				<a href="{{url_for('admissionDetails')}}">Admissons</a>
			</div>

			<!-- <div class="page">
				<a href="{{url_for('homePage')}}">Partners</a>
			</div> -->

			<div class="page">
				<a href="{{url_for('aboutUsPage')}}">AboutUs</a>
			</div>

			<div class="page">
				<a href="{{url_for('homePage')}}">Contact</a>
			</div>
			

		</div>
	</header>

	<main class="body-container">
		<section class="banner-section">
			<section class="banner-details-containr">
				<div >
					<div id="banner-details">
						Unlocking Potential<br> in the Digital Era
					</div>
					<div id="banner-details-register">
						Transform your future – Register now<br> for upcoming intake.
					</div>
					<div class="banner-details-button-section">
						<a href="{{url_for('homePage')}}">
							<button id="banner-details-button">Register</button>
						</a>
						
					</div>
				</div>
			</section>
		</section>
		<section class="content-section">
			<div class="welcome">
				<h2>
					<!-- Acquire practical skills to elevate your career in the real world -->
					Our Trending Courses
				</h2>
				<div>
					Embark on a transformative career journey by acquiring real-world skills that align with industry demands. Invest in practical knowledge to enhance personal and professional growth, reshaping your career trajectory. <span class="make-it-bold">Register </span> now to earn certifications in cutting-edge programs, guided by industry experts from top tech companies. Elevate your skills and set the course for a successful career journey
				</div>
			</div>
			<div class="courses-container">
				<div class="course">
					<div class="image-section">
						<img  class="course-thumbnail" src="../static/images/Screenshot from 2023-03-07 11-57-49.png">
					</div>
					<div class="detail-section">
						<div class="course-name">
							INTRODUCTION TO PROGRAMMING
						</div>
						<div>
							This course is your gateway to the fascinating realm of coding.
						</div>
						<div class="duration">
							Duration 6 months
						</div>
						<div class="enrrole-section">
							<a href="./courseIntroductionToPrograming.html">
								<button class="enrrole-button">
									Read More
								</button>
							</a>
						</div>
					</div>
				</div>
				<div class="course">
					<div class="image-section">
						<img  class="course-thumbnail" src="../static/images/Screenshot from 2023-03-07 11-57-49.png">
					</div>
					<div class="detail-section">
						<div class="course-name">
							DATABASE MANAGEMENT AND SQL
						</div>
						<div>
							This is your passport to unlocking the immense power of organized information.
						</div>

						<div class="duration">
							Duration 10 months
						</div>

						<div class="enrrole-section">
							<a href="./courseSqlDatabase.htm">
								<button class="enrrole-button">
									Read More
								</button>
							</a>
						</div>

					</div>

				</div>

				<div class="course">
					<div class="image-section">
						<img  class="course-thumbnail" src="../static/images/istockphoto-1277009188-2048x2048.jpg">
					</div>
					<div class="detail-section">
						<div class="course-name">
							PYTHON PROGRAMMING
						</div>

						<di>
							Unlock the world of versatile and powerful coding with our "Python" course.
						</di>

						<div class="duration">
							Duration 10 months
						</div>

						<div class="enrrole-section">
							<a href="./coursePython.html">
								<button class="enrrole-button">
									Read More
								</button>
							</a>
						</div>

					</div>

				</div>

				<!-- <div class="course">
					<div class="image-section">
						<img  class="course-thumbnail" src="../images/Screenshot from 2023-03-07 11-57-49.png">
					</div>
					<div class="detail-section">
						<div class="course-name">
							INTRODUCTION TO WEB DEVELOPMENT
						</div>
						<div>
							"Dive into the foundations of web development 
						</div>
						<div class="duration">
							Duration 10 months
						</div>
						<div class="enrrole-section">
							<a href="{{url_for('homePage')}}">
								<button class="enrrole-button">
									enrole
								</button>
							</a>
						</div>
					</div>
				</div>

				<div class="course">
					<div class="image-section">
						<img  class="course-thumbnail" src="../images/Screenshot from 2023-03-07 11-57-49.png">
					</div>
					<div class="detail-section">
						<div class="course-name">
							INTRODUCTION TO DATA SCIENCE
						</div>
						<div>
							Explore the limitless possibilities of data with our transformative 'Data Science' program.
						</div>
						<div class="duration">
							Duration 10 months
						</div>
						<div class="enrrole-section">
							<a href="{{url_for('homePage')}}">
								<button class="enrrole-button">
									enrole
								</button>
							</a>
							
						</div>
					</div>
				</div>

			


				<div class="course">
					<div class="image-section">
						<img  class="course-thumbnail" src="../images/Screenshot from 2023-03-07 11-57-49.png">
					</div>
					<div class="detail-section">
						<div class="course-name">
							PROGRAMMING FOR KIDS
						</div>
						<div>
							Fuel curiosity and empower young minds for a digital future.
						</div>
						<div class="duration">
							Duration 10 months
						</div>
						<div class="enrrole-section">
							<a href="{{url_for('homePage')}}">
								<button class="enrrole-button">
									enrole
								</button>
							</a>
						</div>
					</div>
				</div> -->

			</div>


		</section>



		<section class="comming-soon-details">
			<div class="comming-soon-heading">
				<h1> Opening Soon</h1>
			</div>
			<div class="other-comming-soon-details">
				We are oppening the following schools very soon.
			</div>
		</section>
		<section class="comming_soon">
			<div class="coming-soon-school-container">
				<div class="coming-soon-school-element">
					<div class="front-side">
						Data science
					</div>
					<div class="back-side">
						openning soon
					</div>
					
				</div>
			</div>

			<div class="coming-soon-school-container">
				<div class="coming-soon-school-element">
					<div class="front-side">
						Cyber Security
					</div>
					<div class="back-side">
						openning soon
					</div>
					
				</div>
			</div>

			<div class="coming-soon-school-container">
				<div class="coming-soon-school-element">
					<div class="front-side">
						Cloud Computing
					</div>
					<div class="back-side">
						openning soon
					</div>
					
				</div>
			</div>
		</section>





		<section class="partners-section">
			<div class="partnership-discription">
				<h2>
					Collaborate with us as we navigate a journey toward collective growth.
				</h2>
			</div>
			<div class="become-apartner">
				<div class="grants">
					<h1>Grant Partner</h1>
					<div class="partner-details">
						Collaborate with <span class="make-it-bold">alc</span> to revolutionize the tech talent landscape in Africa, impacting one learner at a time!
					</div>
					<div class="partner-details">
						<h3>
							Why Invest in the Grant Partner Initiative?
						</h3>
					</div>
					<div class="partner-details">
						Strategically reshape Africa's tech landscape with the Grant Partner Initiative, fostering innovation and meeting the demand for skilled professionals. Invest for empowerment through transformative education, breaking barriers, and creating opportunities. Revolutionize learning with cutting-edge tech and innovative teaching, cultivating a thriving environment aligned with industry demands.
					</div>
					<div class="partner-button-section">
						<!-- <button class="partner-button">
							<a href="{{url_for('homePage')}}">Become A Partner</a>
						</button> -->
						
					</div>
				</div>
				<div class="grants">
					<h1>
						Corporate Ally"
					</h1>
					<div class="partner-details">

						Back <span class="make-it-bold">alc</span>'s skilling, placement, and Microwork initiatives to ensure optimal talent connects with the finest opportunities!
					</div>

					<div class="partner-details">
						<h3>
							Why Become a Corporate Ally?
						</h3>
					</div>
					<div class="partner-details">
						Strategically align skilled talent with premier opportunities through the Corporate Ally Program, investing in a finely tuned talent pipeline for your industry's evolving needs. Your support enhances ALC's renowned skilling programs, ensuring a continuous influx of industry-ready professionals. Shape a workforce that exceeds expectations by partnering with ALC for optimal placement solutions."
					</div>
				</div>
				<div class="partnership-details">
					<div id="header-partnership">
						<h1> OUR SURPORT NETWORK </h1>
						
					</div>
					<div class="body-partnership">
						<h3> Our Corporate Ally</h3>
						<span class="make-it-bold"> alc </span> collaborates with public, private, and development sectors to equip, enhance skills, and position tech talent in rewarding employment opportunities, both locally and globally.
					</div>
					<div class="body-partnership">
						Our collaborators enable this by backing skilling initiatives, sponsoring underprivileged students, sharing resources for <span class="make-it-bold"> alc </span> programs to reach underserved communities, and offering workspaces to mentor and hire our talent. 
					</div>
					<div class="body-partnership">
						<h3>Our Grant Partners</h3>
						Grant Partners fuel student success by sponsoring course enrollment and supporting ALC's operations financially. Their generosity unlocks educational opportunities, shaping tech talent and fostering innovation. 
					</div>

					<!-- <div class="body-partnership">
						<a class="colour-it-black" href="{{url_for('homePage')}}">read more >>>>> </a>
					</div> -->
					<div class="body-partnership">
						<button class="partner-button">
							<a href="{{url_for('homePage')}}">Become A Partner</a>
						</button>
						
					</div>
				</div>

			</div>

		</section>
		<section class="our-partner-display-section">
			<div class="our-partner-display-heading">
				<h2>OUR PARTNERS</h2>
				<div id="partner-tagline">
					Elevating Tech Futures: Partners in Transformative Talent!
				</div>
			</div>

			<div class="presentation">
				<div class="slides-container">
					<div class="slide"> <!-- Repeat this div for each slide -->
						<h1>Slide 1</h1>
						<p>Your content goes here.</p>
					</div>
					<div class="slide"> <!-- Slide 2 Content Goes Here -->
						<h1>Slide 2</h1>
						<p>Your content goes here.</p>
					</div>
					<div class="slide"> <!-- Slide 3 Content Goes Here -->
						<h1>Slide 3</h1>
						<p>Your content goes here.</p>
					</div>
					<div class="slide"> <!-- Repeat this div for each slide -->
						<h1>Slide 1</h1>
						<p>Your content goes here.</p>
					</div>
					<div class="slide"> <!-- Repeat this div for each slide -->
						<h1>Slide 1</h1>
						<p>Your content goes here.</p>
					</div>
					<!-- Add more slides as needed -->
				</div>
			</div>

		</section>


	</main>

	<footer class="footer-section">
		<section class="about-alc-section">
			<div class="abrief-about-alc">
				<h1>
					alc
				</h1>
				<span class="make-it-bold">alc</span>: Your prime Tech skilling center and the ultimate blueprint for recruiting top-notch software talent.
			</div>

		</section>
		<section class="resources-section">
			<div>
				<h1> resources</h1>
			</div>
			<div>
				<a href="{{url_for('homePage')}}">Blog</a>
			</div>
			<div>
				<a href="{{url_for('homePage')}}">Testimonials</a>
			</div>
			<div>
				<a href="{{url_for('homePage')}}">careers</a>
			</div>
		</section>
		<section class="get-in-touch-section">
			<div>
				<h1>
					Get in Touch
				</h1>
			</div>
			<div>
				+256755981066
			</div>
			<div>
				info@alc.io
			</div>
			<div>study@alc.io</div>
		</section>
		<section class="social-media">
			<div class="icon-section">
				<a href="{{url_for('homePage')}}"><img class="social-media-icons" src="../static/images/facebook.png"></a>
			</div>

			<div class="icon-section">
				<a href="{{url_for('homePage')}}"><img class="social-media-icons" src="../static/images/instagram.png"></a>
			</div>

			<div class="icon-section">
				<a href="{{url_for('homePage')}}"><img class="social-media-icons" src="../static/images/linkedin.png"></a>
			</div>

			<div class="icon-section">
				<a href="{{url_for('homePage')}}"><img class="social-media-icons" src="../static/images/twitter.png"></a>
			</div>

			<div class="icon-section">
				<a href="{{url_for('homePage')}}"><img class="social-media-icons" src="../static/images/youtube.png"></a>
			</div>
		</section>
		<section class="copyrigt-section">
			<div>
				© 2023 ALC. All Rights Reserved.
			</div>
		</section>

		<section class="register">
			<div>
				Embark on a transformative educational journey in our upcoming <span class="make-it-bold"> in-take </span>, designed for diverse skills and interests. Join us to enhance your abilities and explore new horizons.
			</div>
			<div id="register-button">
				<a href="{{url_for('homePage')}}">
					<button id="registration-button">Register</button>
				</a>
				
			</div>

		</section>
	</footer>
	<script src="../static/jsFiles/main.js"></script>
	<script src="../static/jsFiles/run_partner_slides.js"></script>
</body>
</html>