<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Course - Admin Details</title>
    <link rel="stylesheet" href="../static/schoolTodelet.css">

</head>
<body>
    <div class="container">
        <h1>Delete School</h1>
        <div class="admin-details">
            
        </div>
        <div class="confirmation">
            <p>Are you sure you want to delete this school?</p>
            <button id="delete-btn">Delete</button>
            <button id="cancel-btn">Cancel</button>
        </div>
    </div>
    <script >
        // Assume you have admin details available from the server
        async function fetchSchoolData(){
            return await fetch("http://127.0.0.1:5000/handleAdminSchoolDeletion?type=get_data",{
                method:"GET",
                headers:{
                    "Content-Type": "application/json" 
                }
            })
                .then(response =>{
                    if (!response.ok){
                        throw new Error("api failed to send school id")
                    }
                    return response.json()
                })
                .then(data =>{
                    // data here
                    console.log("from server",data)
                    return data
                })
                .catch(error =>{
                    console.log("send school id faced  error", error)
                })
        }


        function triggerDelete(){
            var data_body = {
                "type": "delete"
            }

            fetch("http://127.0.0.1:5000/handleAdminSchoolDeletion",{
                method:"POST",
                headers:{
                    "Content-Type":"application/json"
                },
                body:JSON.stringify(data_body)
            })
                .then(response =>{
                    if (!response.ok){
                        throw new Error("api failed to send school id")
                    }
                })
                .then(data =>{
                    // data here
                    console.log("from server",data)
                })
                .catch(error =>{
                    console.log("send school id faced  error", error)
                })
            
        }

        function loadHtml( dataDetails){

            var generatedHtml = `
                <h2>school Details</h2>
                <p><strong>School:</strong> <span id="admin-name">${dataDetails[1]}</span></p>
                <p><strong>Coordinator:</strong> <span id="admin-email"></span>${dataDetails[2]}</p>
            `

            document.querySelector(".admin-details")
                .innerHTML = generatedHtml
            // Add event listeners to delete and cancel buttons
            document.getElementById("delete-btn").addEventListener("click", function() {
                triggerDelete()
                window.location.href='/adminSchoolPage'
                
            console.log("Deleting course...");
            });

            document.getElementById("cancel-btn").addEventListener("click", function() {
            // Code to handle cancel operation
            window.location.href='/adminSchoolPage?'
            console.log("Canceling delete operation...");
            });

        }

        async function loadEverything(){
            var schoolData = await fetchSchoolData()
            schoolData = schoolData["data"]
            console.log(schoolData)
            loadHtml(schoolData)


        }

        

        loadEverything()

        
        
        

    </script>
</body>
</html>
