<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Portal</title>
  <link rel="stylesheet" href="../static/studentportal.css">
</head>
<body class="student-dashboard-body">
  <header>
    <div class="logo-section">
      <img src="logo.png" alt="University Logo">
    </div>
    <div class="academic-status-section">
      <!-- Academic status information goes here -->
      <p>Welcome!</p>
    </div>
    <div class="student-profile-section">
      <img src="../static/images/newimages/istockphoto-1224500457-2048x2048.jpg" alt="Student Image" class="profile-image">
      <div class="dropdown-content">
        <a href="{{url_for('studentProfile')}}">Profile</a>
        <a href="{{url_for('logout')}}">
    
            <img class="logout-icon"  src="../static/icons/icons8-logout-64.png">
            <span class="logout-text"> Logout</span>
        </a>
      </div>
    </div>
  </header>
  
  <main>
    <div class="side-bar-section">
        <!-- <div class="course-resources">
          <a>Resources</a>
        </div>
        <div class="recordings">
          <a>
            Recordings
          </a>
        </div> -->
        <div class="live-classes">
          <a target="_blank" href="https://meet.google.com/rit-tkcd-bec">
            live class
          </a>
        </div>
        <div class="logout-section-2">
          <a href="{{url_for('logout')}}">
    
            <img class="logout-icon"  src="../static/icons/icons8-logout-64.png">
            <span class="logout-text-2 logout-text"> Logout</span>
        </a>
        </div>
    </div>
    <div class="main-body-section">
      
    </div>
  </main>

  <script type="module" src="../static/jsFiles/sendPaidcourseAndStudentDetails.js"></script>
</body>
</html>